<p>
  Available in both inline and block form.
</p>

{{topcoat-notification content=1}}
{{topcoat-notification content="two"}}
{{#topcoat-notification }}3{{/topcoat-notification}}

{{#show-code lang="hbs"}}
&#123;&#123;topcoat-notification content=1&#125;&#125;
&#123;&#123;topcoat-notification content="two"&#125;&#125;
&#123;&#123;#topcoat-notification&#125;&#125;3&#123;&#123;/topcoat-notification&#125;&#125;
{{/show-code}}
