<p>
  Treat the range as
  <code>&#123;&#123;input type="range"&#125;&#125;</code>.
</p>

{{topcoat-range value=50}}
{{topcoat-range value=50 disabled=true}}

{{#show-code lang="hbs"}}
&#123;&#123;topcoat-range value=50&#125;&#125;
&#123;&#123;topcoat-range value=50 disabled=true&#125;&#125;
{{/show-code}}
