<h3 class="topcoat-list__header">{{header}}</h3>
{{#if hasContent}}
  {{view TC.TopcoatListView content=content itemLabelPath=itemLabelPath}}
{{else}}
  <ul class="topcoat-list__container">
    {{yield}}
  </ul>
{{/if}}

