<p>
	The API for the checkbox is the same as for
	<code>&#123;&#123;input type="checkbox"&#125;&#125;</code>.
</p>

{{topcoat-checkbox label="Regular checkbox" checked=isRegularChecked}}<br><br>
{{topcoat-checkbox label="Disabled checkbox" checked=true disabled=true}}

{{#show-code lang="hbs"}}
&#123;&#123;topcoat-checkbox label="Regular checkbox"{{#if isRegularChecked}} checked=true{{/if}}&#125;&#125;
&#123;&#123;topcoat-checkbox label="Disabled checkbox" checked=true disabled=true&#125;&#125;
{{/show-code}}

<p>
	You can also use the checkbox in block form. The layout will be the
	label.
</p>

{{#topcoat-checkbox checked=isBlockChecked}}
	This <em>is</em> a checkbox
{{/topcoat-checkbox}}

{{#show-code lang="hbs"}}
&#123;&#123;#topcoat-checkbox{{#if isBlockChecked}} checked=true{{/if}}&#125;&#125;
  This &lt;em&gt;is&lt;/em&gt; a checkbox
&#123;&#123;/topcoat-checkbox&#125;&#125;
{{/show-code}}
