<header class="demo-nav" role="navigation">

	<div class="navbar-header">
		{{#link-to "index" class="navbar-brand"}}
			<h1>Topcoat</h1>
			<small>Components for Ember.js</small>
		{{/link-to}}
	</div>

</header>

<section>
	<div class="row">
		<div class="component-list">
			<div class="clearfix">
				<label for="topcoat-theme-selector" class="sr-only">
					Select a theme
				</label>
				{{view Ember.Select
					id="topcoat-theme-selector"
					className="topcoat-theme-selector"
					content=stylesheets
					value=stylesheets.selected
					optionLabelPath="content.title"
					optionValuePath="content.name"
				}}
			</div>

			<ul class="component-list__container">
			{{#each App.TopcoatComponentList}}
				<li class="component-list__item">
					{{link-to title name class="component-list__link"}}
				</li>
			{{/each}}
			</ul>
		</div>
		<div class="component-demo">
			{{outlet}}
		</div>
	</div>
</section>

<footer class="text-center">
	<small>Made by Nick</small>
</footer>

