<nav class="demo-nav" role="navigation">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#component-list-container">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">
			<h1>Topcoat</h1>
			<small>Components for Ember.js</small>
		</a>
	</div>

	 <div class="navbar-collapse collapse" id="component-list-container">
		<ul class="nav navbar-nav">
		{{#each App.TopcoatComponents}}
			<li>
				<a href="#{{unbound name}}">
					{{unbound title}}
				</a>
			</li>
		{{/each}}
		</ul>
	</div>

</nav>