<h3>Basic Usage</h3>

<p>
	Available in both inline and block form.
</p>

{{topcoat-notification content=1}}
{{topcoat-notification content="two"}}
{{#topcoat-notification }}3{{/topcoat-notification}}

<p>{{show-code show=showBasicCode}}</p>

{{#if showBasicCode}}
{{#prettify lang="hbs" linenums="1"}}
&#123;&#123;topcoat-notification content=1&#125;&#125;
&#123;&#123;topcoat-notification content="two"&#125;&#125;
&#123;&#123;#topcoat-notification&#125;&#125;3&#123;&#123;/topcoat-notification&#125;&#125;
{{/prettify}}
{{/if}}