<p>
	Treat the range as
	<code>&#123;&#123;input type="range"&#125;&#125;</code>.
</p>

<h3>Basic Usage</h3>

{{topcoat-range value=50}}
{{topcoat-range value=50 disabled=true}}

<p>{{show-code show=showBasicCode}}</p>

{{#if showBasicCode}}
{{#prettify lang="hbs" linenums="1"}}
&#123;&#123;topcoat-range value=50&#125;&#125;
&#123;&#123;topcoat-range value=50 disabled=true&#125;&#125;
{{/prettify}}
{{/if}}