<p>
  The tab bar is an extension of the
  {{#link-to "button-bar"}}button bar{{/link-to}}
  component and has the same API as
  <code>&#123;&#123;topcoat-button-bar type="select"&#125;&#125;</code>.
</p>

{{partial "component"}}
