
<p>
  The API for the radio buttom is the same as for
  <code>&#123;&#123;input type="radio"&#125;&#125;</code>.
</p>

{{topcoat-radio-button name="example-radio-1" label="Regular"}}<br><br>
{{topcoat-radio-button name="example-radio-1" label="Disabled" disabled=true}}<br><br>
{{topcoat-radio-button name="example-radio-1" leftLabel="Left label"}}<br><br>

{{#show-code lang="hbs"}}
&#123;&#123;topcoat-radio-button name="example-radio-1" label="Regular"&#125;&#125;
&#123;&#123;topcoat-radio-button name="example-radio-1" label="Disabled" disabled=true&#125;&#125;
&#123;&#123;topcoat-radio-button name="example-radio-1" leftLabel="Left label"&#125;&#125;
{{/show-code}}

<p>
  You can also use the radio button in block form. The layout will be the
  right label.
</p>

{{#topcoat-radio-button name="example-radio-2"}}
  This <em>is</em> a radio button
{{/topcoat-radio-button}}

{{#show-code lang="hbs"}}
&#123;&#123;#topcoat-radio-button name="example-radio-2"&#125;&#125;
  This &lt;em&gt;is&lt;/em&gt; a radio button
&#123;&#123;/topcoat-radio-button&#125;&#125;
{{/show-code}}