.prettyprint {
  color: #535353;
  background-color: #f8f8f8;
}
.pln,
.typ,
.pun,
.opn,
.clo {
  color: #535353;
}
.str,
.atv {
  color: #f18900;
}
.kwd,
.tag {
  color: #446fb0;
}
.com,
.dec,
.var,
.linenums {
  color: #a2a2a2;
  margin-top: 0;
  margin-bottom: 0;
}
.lit,
.atn {
  color: #738d00;
}
.fun {
  color: #8757ad;
}
