<p>
  These are based on the
  <a href="http://codepen.io/Topcoat/pen/kdKyg">mobile button bar</a>
  on the
  <a href="http://topcoat.io/topcoat/#button-bar">Topcoat website</a>.
  Define the button bar with <code>type="select"</code> for radio button
  behaviour, or <code>type="toggle"</code> for checkbox behaviour. The
  selected item(s) will be bound to the component's <code>selection</code>
  property.
</p>
